﻿
.blue-cell {
    background-color: cadetblue;
}

.hovered-cell {
    background-color:azure;
}

.main-table-container {
    overflow-x: scroll;
}

.matrix-settings-container .matrix-property > label {
    min-width: 200px;
}

@media screen and (min-width: 992px) {    
    .main-table-container {
        margin:auto;
        overflow-x: hidden;
    }

    .cell {
        text-align:center;
    }
}
