﻿﻿@model Abilis.Models.MultiplicationTableModel
@{
    ViewBag.Title = "Home Page";
}

@section styles {
    @Styles.Render("~/Content/Styles/Home/css")
}

<div class="jumbotron">
    <h1>Test Task For Abilis</h1>
    <p class="lead">Source Code You Can Find On <a href="https://bitbucket.org/ihorbandura/" class="btn btn-primary btn-lg">My Bitbucket Repository</a> </p>
</div>

<div>
    <div class="main-table-container table-responsive">
        <table class="table table-bordered table-dark">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    @for (int j = 1; j < Model.size; j++)
                    {
                        @:<th scope="col" class="blue-cell cell js-hover-col-cell" data-col-id="@(j)">@(Abilis.Helpers.WebHelper.GetConvertedNumByShowType(j, Model.showType))</th>
                    }
                </tr>
            </thead>

            <tbody>
                @for (int i = 1; i < Model.size; i++)
                {
                    <tr>
                        @for (int j = 0; j < Model.size; j++)
                        {
                            if (j == 0)
                            {
                                <th scope="row" class="blue-cell cell js-hover-row-cell" data-row-id="@(i)">@(Abilis.Helpers.WebHelper.GetConvertedNumByShowType(i, Model.showType))</th>
                            }
                            else
                            {
                                <td title="@(Abilis.Helpers.WebHelper.GetConvertedNumByShowType(i, Model.showType)) * @(Abilis.Helpers.WebHelper.GetConvertedNumByShowType(j, Model.showType)) = @(Abilis.Helpers.WebHelper.GetConvertedNumByShowType(i*j, Model.showType))" class="cell js-hover-cell @( i == j ? "blue-cell" : "")" data-row-id="@(i)" data-col-id="@(j)">
                                    @Abilis.Helpers.WebHelper.GetConvertedNumByShowType(i*j, Model.showType)
                                </td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="row">
        <div class="matrix-settings-container col-md-4">
            <div class="matrix-property">
                <label for="matrix-size">Choose a size for matrix:</label>

                <select id="matrix-size">
                    @for (int i = 3; i <= 15; i++)
                    {
                        <option value="@i" @(i+1 == Model.size ? "selected" : string.Empty)>@i</option>
                    }
                </select>
            </div>
        
            <div class="matrix-property">
                <label for="matrix-base">Choose a format for matrix:</label>

                <select id="matrix-base">
                    <option value="@((int)Abilis.Models.ShowType.Decimal)" @(Model.showType == Abilis.Models.ShowType.Decimal ? "selected" : string.Empty)>Decimal</option>
                    <option value="@((int)Abilis.Models.ShowType.Hex)" @(Model.showType == Abilis.Models.ShowType.Hex ? "selected" : string.Empty)>Hex</option>
                    <option value="@((int)Abilis.Models.ShowType.Binary)" @(Model.showType == Abilis.Models.ShowType.Binary ? "selected" : string.Empty)>Binary</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-primary" onclick="return submitButtonClick('@Url.Action("Index", "Home")');">Change Matrix</button>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Content/Scripts/Home/css")
}
